@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
  font: normal 100% 'Lato', sans-serif;
  
}

html {
  overflow: hidden;
}

/* ---------------- The map div ---------------- */
#map {
    position: absolute;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    z-index: 1;
}

/* ---------------- Icon Buttons ---------------*/

#mainButtonGroup {
  position: absolute;
  z-index: 2;
  right: 10px;
}

.icon {
  width: 100%;
  height: 100%;
}

button.iconBtn {
  border-style: none;
  width: 50px;
  height: 50px;
  padding: 5px;
  background: rgb(250,250,250);
  /*background: rgba(250,250,250,0.8);*/
  border-radius: 7px;
  z-index: 1;
}

button.iconBtn:hover, button.iconBtn:focus {
  fill: steelblue;
}

button.iconBtn:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

button.iconBtn:active {
  background-color: #000;
  fill: #fff;
}

button.iconBtn::-moz-focus-inner {
    padding: 0 !important;
    border: 0 none !important;
}


/* ---------------- Timeline Widget ---------------*/

#timelineWidgetContainer {
  height: 140px;
  width: 100%;
  max-width: 800px;
  background: none;
  z-index: 2;
  position: absolute;
  bottom: 24px;
  margin: 0px auto;
  left: 0px;
  right: 0px;
}

#timelineWidget {
  width: 100%;
  height: 100%;
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.9);
  border-radius: 7px;
}


#timelineButtonContainer {
  position: absolute;
  right: 10px;
  top: -20px;
}

#chartBtn, #collapseChartBtn {
  width: 30px;
  height: 30px;
  border-style: solid;
  /*background: rgb(255,255,255);*/
  border-color: rgb(220,220,220);
}

#chartBtn:focus, #collapseChartBtn:focus {
  border-color:rgb(220,220,220);
}



/*div.timelineChartTooltip { 
    position: absolute;     
    width: 60px;          
    height: 28px;         
    padding: 2px;       
    font: 12px sans-serif;
    background: rgb(255,255,255);  
    background: rgba(255,255,255,0.9); 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;
    z-index: 3;     
}*/


/* ---------------- Modals ---------------*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    max-height: 95%;
    overflow: auto;
    padding: 0;
    top: 10px;
    border: 1px solid #888;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@media screen and (max-width: 500px) {
    .modal-content {
        width: 100%;
    }
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:10px; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:10px; opacity:1}
}


/* The close button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
    background-color: black;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 8px;
    background-color: rgb(255,255,255);
    /*color: white;*/
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-header h2 {
  margin: 5px 0px 5px 0px;
}


/* ---------------- Data Selection Menu ---------------*/

.dataSelection {
  margin-bottom: 20px;
}

.dataSelection:hover {
  background-color: rgb(230,230,230);
}

.dataSelectionImage {
  display: inline-block;
  width: 30%;
  overflow: hidden;
}

.dataSelectionImage img{
  width: 150px;
  display: block;
  margin: auto;
}

.dataSelectionText {
  display: inline-block;
  vertical-align: top;
  width: 65%;
}

.dataSelectionText h3{
  margin-top: 0px;
}



/* ---------------- Chart Options Menus ---------------*/

#addSummaryPolygonOptions {

}

#uploadPolygonsMenu {
  display: none;
}

#selectPremadePolygonsMenu {
  display: none;
}

#drawingBtns {
  display: none;
  position: absolute;
  right: 10px;
  top: 200px;
  z-index: 2;
}